body {
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'Lato', sans-serif;
    background: #f2f2f2;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 5vh 0 2vh 0;
}

nav {
  width: 100vw;
  height: 100vh;
  background-color: #000000cc;
  margin: 0 auto;
  text-align: center;
  position: fixed;
  left: 0;
  top: -110vh;
  color: white;
  font-size: 9vw;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 99;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: top 600ms ease-in-out;
  -o-transition: top 600ms ease-in-out;
  transition: top 600ms ease-in-out;
}

nav div p {
    width: 100%;
    text-align: center;
}

.overflowHidden {
    overflow: hidden;
}

a, a:link, a:visited, a:active {
    color: black;
    text-decoration: none;
}

img, video {
    width: 100%;
}

img {
    border-radius: 3px;
}

#homeSection, #trailerSection, #lineUpSection, #ticketSection, #merchSection, #gallerySection {
    width: 78vw;
    padding: 0 11vw;
}

#homeSection {
    margin-top: 10vh;
}

#lineUpWrapper a img {
    margin: 3vh 0;
}

.ticket, .merch {
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 6px 3px rgba(189,189,189,0.5);
            box-shadow: 0px 0px 6px 3px rgba(189,189,189,0.5);
    padding: .75vh 3vw;
    margin: 5vh 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.ticket i {
    font-size: 15vw;
    -webkit-transform: rotateZ(15deg);
        -ms-transform: rotate(15deg);
            transform: rotateZ(15deg);
}

#vip {
    color: #FFD700;
}

.soldOut, .merchError {
    color: red;
    margin: 0 0 1.5vh 0;
}

.merch img {
    width: 70%;
    height: 44vh;
}

#imageWrapper {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.image {
    background: #fff;
    padding: 2vh 1vh 2vh 1vh;
    margin: 2vh 0;
    border-radius: 3px;
    overflow: hidden;
}

.image img {
    width: 100%;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-transition: -webkit-transform 300ms ease-in-out;
    transition: -webkit-transform 300ms ease-in-out;
    -o-transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out;
    transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.animationWrapper {
    overflow: hidden;
}

.image img:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.image span {
    color: black;
    font-size: 4vw;
    position: relative;
    top: .6vh;
}

footer {
    width: 100vw;
    height: 20vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f2f2f2;
}

footer span {
    margin-right: 2vw;
}

footer #instagram {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}