body {
    width: 100vw;
    height: auto;
    margin: 0 auto;
    padding: 0;
    overflow-x: hidden;
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    user-select: none;
    background: rgb(209, 172, 219);
    background: linear-gradient(140deg, rgba(209, 172, 219, 1) 0%, rgba(238, 229, 239, 1) 69%, rgba(237, 222, 240, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

body > div {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    width: 100vw;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}

.logo {
    width: 10vw;
    position: absolute;
    z-index: 101;
}

#wallpaper {
    width: 25vw;
}

#matapiroQuote, #dockaToni {
    width: 20vw;
}

a {
    color: white;
}

#homeSection {
    display: flex;
    background-image: url('../img/logo_trans.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 30vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-size: 5vw;
}

#homeSection h1, #homeSection h5 {
    margin: 0;
}

#trailerSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: transparent;
    color: white;
}

#wallpaper-wrapper {
    height: 150vh;
}

video {
    width: 60%;
    outline: none;
}